body{
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  
.app-container {
  display: flex;
  height: 100vh;
}

/* Right Side  */
.tasks-container {
  flex: 2;
  padding: 20px;
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tasks-container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-input {
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}

input {
  padding: 8px;
}

button {
  padding: 8px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 0px 5px;
  width: 115px;
}

.task-left {
  gap: 100px;
  display: flex
;
}

.task-list {
  list-style: none;
  padding: 0;
  max-height: 300px;
  overflow-y: auto;
  padding-right: 5px; 
}



.task-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f5f5f5;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s;
}
.task-list .pending {
  background: lightblue;
}

.task-list .completed {
  background: lightgreen;
  text-decoration: line-through;
}

/* Left Side */
.profile-container {
  flex: 1;
  padding: 20px;
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
}

/* Dark Mode */
.app-container.dark {
  background: #121212;
}

.app-container.dark .tasks-container {
  background: #000000;
  color: white;
}

.app-container.dark .profile-container {
  background: #333;
  color: white;
}

.app-container.dark .task-list li {
  background: #444;
  color: white;
}

.app-container.dark .task-list li.completed {
  background: #225522;
}

.toggle-btn {
  background: #444;
  color: white;
}

.app-container.dark .toggle-btn {
  background: white;
  color: black;
}
